* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
}

.nav-links li {
    margin-left: 20px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(150, 19, 19, 0.1);
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: #66c0f4;
    background-color: #444;
}

#mainpage {
    font-size: 18px;
    font-weight: bold;
    color: #66c0f4;
}

#CreateSquadron {
    font-size: 24px;
    font-weight: bold;
    color: #66c0f4;
}

.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #66c0f4;
    color: #fff;
    cursor: pointer;
}

.user-actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #66c0f4;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

#about-us {
    margin-left: 25%;
    max-width: 50%;
    text-align: center;
    padding: 20px;
    background-color: #ffffffc0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#about-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#about-us p {
    font-size: 16px;
}

#video {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    .logo {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }

    .nav-links {
        flex: 1 0 100%;
        justify-content: space-around;
    }
}

/* Additional styling for login and register pages */
.form {
    width: 100%;
}

.input-field {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #66c0f4;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
