{% extends "base.html" %}

{% block title %}PreFlight{% endblock %}

{% block content %}
<!-- About Us and Video Section -->
<section class="row">
    <section id="about-us" class="col-md-6">
        <h2>About Us</h2>
        <p>
            The Preflight community on the us.preflight website was founded in 2004 by Micah, Alon, Ohad, and Roi. For many years, 
            the community has been the leading Israeli portal for gaming in combat flight simulators for PC computers. The community brings 
            together the Israeli community in a number of combat flight simulators, the main ones being DCS, Falcon, and 1IL, and it serves 
            as an online meeting point for members who engage in multiplayer flight activities in these simulators.
        </p><br/><hr><br/>
        <iframe height="500px" width="100%" src="https://www.youtube.com/embed/952-UT2aHak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p><br/><strong>join us</strong><hr><br/>
        <iframe src="https://discord.com/widget?id=1102867401994936381&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </section>
</section>
{% endblock %}
