{% extends "base.html" %}

{% block title %}PreFlight Login{% endblock %}

{% block content %}
<section id="about-us" class="col-md-6">
    <h2>Login</h2>
    <form class="form" action="/login" method="post">
        <div class="input-group">
            <input type="text" name="username" class="input-field" placeholder="Username">
        </div>
        <div class="input-group">
            <input type="password" name="password" class="input-field" placeholder="Password">
        </div>
        <button type="submit" class="login-button">Login</button>
    </form>
</section>
{% endblock %}
