{% extends "base.html" %}

{% block title %}PreFlight Register{% endblock %}

{% block content %}
<section id="register" class="container">
    <h2">Register</h2>
    <form class="form" action="/register" method="post">
        <input type="text" name="username" class="input-field" placeholder="Username" style="display: flex; align-items: center;">
        <input type="email" name="email" class="input-field" placeholder="Email" style="display: flex; align-items: center;">
        <input type="password" name="password" class="input-field" placeholder="Password" style="display: flex; align-items: center;">
        <input type="password" name="confirm_password" class="input-field" placeholder="Confirm Password" style="display: flex; align-items: center;">
        <input type="submit" value="Register" class="login-button">
    </form>
</section>
{% endblock %}
