{% extends "base.html" %}
{% block title %}Virtual Squadrons - PreFlight{% endblock %}
{% block content %}
{% for el in squadrons %}
<section id="about-us" class="col-md-6">
    <h2 style="text-align: left;">{{ el.name }}</h2>
    <p>{{ el.description }}</p>
    <p><b>Members:</b>
        {% for member in el.members %}
            {{ member.username }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><b>{{ el.created_at }}</b></p>
    <br />
    <hr><br />
    {% if current_user.is_admin %}
    <div style="text-align: left !important;" class="user-actions">
        <button onclick="deleteSquadron('{{ el.id }}');">Delete squadron</button>
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
    <div style="text-align: center !important;" class="user-actions">
        <button onclick="joinSquadron('{{ el.id }}');">Join squadron</button>
    </div>
    {% endif %}
</section>
{% endfor %}
{% if current_user.is_authenticated %}
<div style="text-align: center !important;" class="user-actions">
    <button onclick="location.href = '/squadrons_reg';">Create Squadron</button>
</div>
{% endif %}
<script>
    function joinSquadron(squadronId) {
    fetch('/join_squadron/' + squadronId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => {
        if (response.ok) {
            alert('Joined squadron successfully!');
            window.location.reload();
        } else {
            alert('Failed to join squadron.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function deleteSquadron(squadronId) {
    if (confirm('Are you sure you want to delete this squadron?')) {
        fetch('/delete_squadron/' + squadronId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                alert('Squadron deleted successfully!');
                document.getElementById('squadron-' + squadronId).remove();
                window.location.reload();
            } else {
                alert('Failed to delete squadron.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}
</script>
{% endblock %}

